@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Roboto", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #00a7f3;
}

@layer base {
  html {
    font-family: var(--font-display);
  }
  body {
    background: #f3f4f6;
    background-image: radial-gradient(
        at 0% 0%,
        hsla(253, 16%, 7%, 0.05) 0,
        transparent 50%
      ),
      radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 0.05) 0, transparent 50%),
      radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 0.05) 0, transparent 50%);
    background-image: radial-gradient(
        at 40% 20%,
        hsla(28, 100%, 74%, 0.15) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 80% 0%,
        hsla(189, 100%, 56%, 0.15) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 0% 50%,
        hsla(340, 100%, 76%, 0.15) 0px,
        transparent 50%
      ),
      radial-gradient(
        at 80% 50%,
        hsla(270, 100%, 90%, 0.2) 0px,
        transparent 50%
      );

    min-height: 100vh;
    overflow-x: hidden;
    color: #333;
    position: relative;

    #root {
      position: relative;
      z-index: 1;
    }
  }

  body::before {
    content: "";
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    /* Add subtle grain */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.03'/%3E%3C/svg%3E");
    z-index: 0;
    pointer-events: none;
  }

  body::after {
    display: none;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.w-md-editor {
  height: 400px !important;
}

.w-md-editor-toolbar li > button {
  height: 40px !important;
  font-size: 24px !important;
  color: #4a5568 !important;
  padding: 10px !important;
}

.w-md-editor-toolbar button:hover {
  color: #681db8 !important;
  background-color: #e9d4ff !important;
  border-radius: 6px !important;
}

.w-md-editor-toolbar button:focus {
  outline: none !important;
  color: #007a99 !important;
  background-color: #d0f4ff !important;
}

input:autofill,
select:autofill,
textarea:autofill {
  background-color: transparent !important;
}

@utility input-box {
  @apply w-full flex justify-between gap-3 text-sm text-black bg-gray-50/50 rounded px-4 py-3 mb-4 mt-3 border border-gray-100 outline-none focus:border-sky-300;
}

@utility btn-primary {
  @apply w-full flex items-center justify-center gap-3 text-sm font-semibold text-white bg-linear-to-r from-sky-500 to-cyan-400 p-2.5 rounded-md my-1 transition-all hover:scale-[1.01] hover:text-white cursor-pointer;
}
@utility btn-small {
  @apply flex items-center justify-center gap-3 bg-linear-to-r from-sky-500 to-cyan-400 text-sm font-semibold text-white px-7 py-2 rounded-lg hover:bg-black hover:text-white transition-colors cursor-pointer hover:shadow-2xl hover:shadow-sky-200;
}

@utility form-card {
  @apply bg-white rounded-xl shadow-xl shadow-gray-50 border border-gray-200/50;
}

@utility form-input {
  @apply w-full text-sm text-black outline-none bg-white border border-slate-100 px-2.5 py-3 rounded-md mt-2 placeholder:text-gray-500;
}
